* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

ul li {
    list-style: none;
}

.container {
    margin: auto;
    width: 1140px;
}

.d-flex {
    display: flex;
}

.center {
    align-items: center;
}

.between {
    justify-content: space-between;
}

header {
    background-color: aliceblue;
    
}
.blog-1 img{width: 95%;}
.blog-images-1{margin-top: 5rem; transition: 1s;}
.blog-images-1 img:hover { transform: scale(.3,.3);/}
.blog-images-2{margin-top: 5rem;}
.blog-images-3{margin-top: 5rem;}
footer {
    margin-top: 8rem;
    background-color: #000000;
    color: #8b8b8b;
}

.contact h2 {
    padding-top: 3rem;
    font-size: 1.9rem;
}

.contact ul li {
    padding-top: 1rem;
    font-size: 1.1rem;
}

.contact ul li i {
    font-size: 1.3rem;
    border: 1px solid;
    box-sizing: border-box;
}

.information h2 {
    padding-top: 3rem;
    font-size: 1.9rem;
}

.information ul li {
    padding-top: 1rem;
    font-size: 1.1rem;
}

.our h2 {
    padding-top: 3rem;
    font-size: 1.9rem;
}

.our ul li {
    padding-top: 1rem;
    font-size: 1.1rem;
}